<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Application</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"> <!-- Link to CSS file -->
</head>
<body>
<div class="container">
    <h1 th:text="${message}"></h1>
    <div class="box">
        <p>WELCOME TO AAMIR  IT SOFTWARES</p>
    </div>
    <div class="box">
        <p><a href="https://www.greenhayat.wordpress.com" target="_blank">To Know More Click Here<br> Or WhatsApp +916390500956</a></p>
    </div>
</div>
    <footer>2024</footer>
</body>
</html>
